/* Responsive Tablet - Width: 1024 */

@media (max-width: 1024px) {
  .menu {
    display: block;
  }

  .nav-lists {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .hero-left {
    width: 90%;
    text-align: center;
    align-items: center;
    order: 2;
  }

  .hero-image-container {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .menu {
    display: block;
    order: 2;
  }

  .nav-lists {
    display: none;
  }

  .header-buttons {
    display: none;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .get-started,
  .watch-demo {
    width: 100%;
  }
}
