/* Responsive Tablet - Width: 1024 */

@media (max-width: 1024px) {
  .menu {
    display: block;
  }

  .nav-lists {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .hero-left {
    width: 90%;
    text-align: center;
    align-items: center;
    order: 2;
  }

  .hero-image-container {
    width: 100%;
  }

  .carousel-texts-arrows {
    max-width: 896px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 64px;
  }

  .carousel-wrapper {
    max-width: 896px;
    width: 100%;
    /* display: flex; */
    gap: 32px;
  }

  .slide-text-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .price {
    order: -1;
  }

  .travel-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-block {
    max-width: 832px;
    text-align: center;
  }

  .right-block-text {
    width: 100%;
  }

  .travel-highlight-card {
    max-width: 832px;
    width: 100%;
  }
  .travel-highligts-row1,
  .travel-highligts-row2 {
    gap: 32px;
  }
}

@media (max-width: 430px) {
  .menu {
    display: block;
    order: 2;
  }

  .nav-lists {
    display: none;
  }

  .header-buttons {
    display: none;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .get-started,
  .watch-demo {
    width: 100%;
  }

  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .travel-highligts-row1,
  .travel-highligts-row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .carousel-arrows {
    width: 100%;
  }

  .arrow1-svg,
  .arrow2-svg {
    width: 64px;
    height: 64px;
  }

  .carousel-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #191825;
  }
}
