/* Header */

.header-wrapper {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.menu {
  display: none;
}

.nav-lists {
  width: 428px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  color: #222831;
}

.nav-lists a {
  opacity: 0.5;
}

.nav-lists li:first-child a {
  opacity: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  color: #222831;
}

.log-in {
  width: 105px;
  height: 49px;
  background-color: #ffffff;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  color: #222831;
}

.sign-up {
  width: 115px;
  height: 49px;
  border-radius: 100px;
  background-color: #5d50c6;
  border: none;
  color: #eeeeee;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
}

/* Hero */

.hero-section {
  max-width: 1184px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 0;
}

.get-started {
  width: 181px;
  height: 56px;
  background-color: #5d50c6;
  color: #eeeeee;
  border-radius: 100px;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
}

.watch-demo {
  width: 181px;
  height: 56px;
  background-color: #ffffff;
  color: #222831;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-buttons {
  /* width: 100%; */
  display: flex;
  gap: 16px;
}

.hero-heading {
  font-weight: 400;
  font-size: 69px;
  line-height: 120%;
  letter-spacing: 0;
  color: #000000;
}

.highlight {
  color: #f85e9f;
}

.hero-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.5);
}

.hero-left {
  width: 412px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.hero-image-container {
  width: 772px;
}
.hero-image {
  width: 100%;
}

/* Carousel */

.carousel {
  padding: 64px 0;
  margin-top: 198px;
}

.arrow1-svg {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow2-svg {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #5d50c6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-arrows {
  width: 232px;
  display: flex;
  justify-content: space-between;
}

.carousel-texts-arrows {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.carousel-label {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 20%;
  font-style: uppercase;
  color: #f85e9f;
}

.carousel-heading {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #191825;
}

.carousel-texts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

/* Slides */

.slider-1 {
  width: 372px;
  border-radius: 32px;
  box-shadow: 0px 32px 71px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-image {
  width: 100%;
}

.slide-heading {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #191825;
}

.slide-text-box {
  max-width: 310px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #f85e9f;
}

.slide-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(25, 24, 37, 0.75);
  margin: 16px 0 16px;
}

.rating {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ff5722;
}
.rating-start {
  width: 66px;
  display: flex;
  justify-content: space-between;
}

.slide-texts {
  vertical-align: middle;
  margin: 32px;
}

.carousel-wrapper {
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.slide-heading {
  width: 200px;
}
.slider-image {
  width: 100%;
}

/* Travel Section */

.travel-section {
  max-width: 1312px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img-travel-section {
  width: 100%;
}

.right-block-text {
  width: 441px;
}

.travel-label {
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 20%;
  font-style: uppercase;
  color: #f85e9f;
}

.travel-heading {
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0;
  margin: 16px 0 32px 0;
}

.travel-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
  color: rgba(25, 24, 37, 0.5);
}

.travel-highlight-1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: 0;
  color: #ff5722;
}

.travel-highlight-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
  color: #191825;
}

.travel-highlight-card {
  width: 204px;
  background-color: #ffffff;
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 32px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  margin-bottom: 32px;
}

.travel-highligts-row1,
.travel-highligts-row2 {
  display: flex;
  justify-content: space-between;
}

.highlight-rows {
  margin-top: 64px;
}
